{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Sửa Lĩnh vực
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Sửa Lĩnh vực
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmLinhVuc" id="frmLinhVuc" method="post" action="/quanlycuahangsach/backend/linhvuc/edit.php?lv_ma={{ linhvuc.MALINHVUC }}">
    <div class="form-group">
        <label for="lv_ma">Mã loại sản phẩm</label>
        <input type="text" class="form-control" id="lv_ma" name="lv_ma"  readonly value="{{ linhvuc.MALINHVUC }}">
        
    </div>
    <div class="form-group">
        <label for="lv_ten">Tên loại sản phẩm</label>
        <input type="text" class="form-control" id="lv_ten" name="lv_ten" value="{{ linhvuc.TENLINHVUC }}">
    </div>
    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
    <a href="index.php" class="btn btn-info" name="btnCancel">Quay về</a>

</form>
{% endblock %}
{# End Nội dung trong block content #}