{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Loại sách
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Loại sách
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmLoaiSach" id="frmLoaiSach" method="post" action="/quanlycuahangsach/backend/loaisach/create.php">
    <div class="form-group">
        <label for="ls_ma">Mã loại sách</label>
        <input type="text" class="form-control" id="ls_ma" name="ls_ma" placeholder="Mã loại sách">
    </div>
    <div class="form-group">
        <label for="ls_ten">Tên loại sách</label>
        <input type="text" class="form-control" id="ls_ten" name="ls_ten" placeholder="Tên loại sách">
    </div>
    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}