{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Hóa đơn
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Hóa đơn
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmHoaDon" id="frmHoaDon" method="post" action="/quanlycuahangsach/backend/hoadon/create.php">
    <div class="form-group">
        <label for="hd_mhd">Mã hóa đơn</label>
        <input type="text" class="form-control" id="hd_mhd" name="hd_mhd" placeholder="Mã hóa đơn" required >
        
    </div>
    <div class="form-group">
        <label for="hd_mhd">Tên khách hàng</label>
        <input type="text" class="form-control" id="hd_mhd" name="hd_tenkhachhang" placeholder="Tên khách hàng" >
    </div>
     <div class="form-group">
        <label for="hd_ngaylap">Ngày lập</label>
        <input type="text" class="form-control" id="datepicker" name="hd_ngaylap" placeholder="Ngày lập" >

    </div>
    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
    <a href="index.php" class="btn btn-info" name="btnCancel">Quay về</a>

</form>
{% endblock %}
{# End Nội dung trong block content #}