{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Nhật ký nhập sách
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Nhật ký nhập sách
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmNKNS" id="frmNKNS" method="post" action="/quanlycuahangsach/backend/nhatkinhapsach/create.php">
    
    <div class="form-group">
        <label for="nkns_ms">Mã sách</label>
        <input type="text" class="form-control" id="nkns_ms" name="nkns_ms" >
    </div>
    <div class="form-group">
        <label for="nkns_sl">Số lượng</label>
        <input type="text" class="form-control" id="nkns_sl" name="nkns_sl" >
    </div>
    <div class="form-group">
        <label for="nkns_ngaynhap">Ngày nhập</label>
        <input type="text" class="form-control" id="datepicker" name="nkns_ngaynhap" >
    </div>

    
    <button class="btn btn-primary" name="btnSave">Cập nhật</button>
    <a href="index.php" class="btn btn-info" name="btnCancel">Quay về</a>

</form>
{% endblock %}
{# End Nội dung trong block content #}