{# Kế thừa layout frontend #}
{% extends "backend/layouts/layout.html.twig" %}
{# Nội dung trong block title #}
{% block title %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block title #}
{# Nội dung trong block headline #}
{% block headline %}
Đăng nhập
{% endblock %}
{# End Nội dung trong block headline #}
{# Nội dung trong block content #}
{% block content %}
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-primary" role="alert">
    Bạn chưa đăng nhập!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Đăng nhập</h4>
    <p>Bấm vào <a href="/quanlycuahangsach/backend/auth/login.php" class="alert-link">Login</a> để đi đến trang đăng nhập</p>
    <hr>
    <p class="mb-0">Cửa hàng sách - LB SHOP</p>
</div>
{% endblock %}
{# End Nội dung trong block content #}
{% block customscripts %}
<script type="text/javascript">
    $('#myAlert').on('closed.bs.alert', function () {
        $('.alert').alert('close');
    })
</script>

{% endblock %}