{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Bảng tin
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Bảng tin
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<h2>Sản phẩm có doanh thu cao nhất trong <br> <b> 3 tháng gần nhất</b></h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover mt-2">
                <thead class="thead-light">
                    <tr>
                        <th>Tên sách</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    {% for SP_DT_MAX in SP_DT_MAX %}
                    <tr>
                        <td>{{ SP_DT_MAX.TENSACH }}</td>
                        <td>{{ SP_DT_MAX.TongThanhTien }}000 vnđ</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
{% if session['dashboard'] %}
<script type="text/javascript">
    swal('Đăng nhập thành công', "Welcome! - LN SHOP", "success")
</script>
{% endif %}

{% endblock %}